<p id="notice"><%= notice %></p>


<p>
  <strong>Stock:</strong>
  <%= @collection.stock_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @collection.quantity %>
</p>



<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
  	<%= render 'stocks' %>
  </div>

  <div class="col-md-6">
  	<%= render 'rss' %>
  </div>
</div>

<!--  <%= link_to 'Back', collections_path %>
 <%= link_to 'Edit', edit_collection_path(@collection) %> | -->