<div class = "row">
  <p id="notice"><%= notice %></p>
  <div class="col-md-12">
    <div class="center-block">
      
      <div class="panel panel-default">
        <div class="panel-heading">
              <%= @stock.ticker %>: <%= @stock.company_name %>
        </div>

        <div class="panel-body">

        
            <div>
              <%= render 'chart' %>
            </div>
            
            <div>
              <%= render 'stock_data' %>
            </div>
            <div>
              <%= render 'rss' %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>