<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-3">
    <div class="well well-sm">
        <p>
        	<%= gravatar_for @user %>
          	<strong>Name:</strong>
          	<%= @user.name %>
        </p>

        <p>
          <strong>Primary Email:</strong>
          <%= @user.email1 %>
        </p>

        <p>
          <strong>Secondary Email:</strong>
          <%= @user.email2 %>
        </p>

        <p>
          <strong>Phone number:</strong>
          <%= @user.p_number %>
        </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  	<%= render 'stocks' %>
  </div>

  <div class="col-md-6">
  	<%= render 'rss' %>
  </div>
</div