<p id="notice"><%= notice %></p>

<p>
	<%= gravatar_for @user %>
  	<strong>Name:</strong>
  	<%= @user.name %>
</p>

<p>
  <strong>Primary Email:</strong>
  <%= @user.email1 %>
</p>

<p>
  <strong>Secondary Email:</strong>
  <%= @user.email2 %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.p_number %>
</p>
<!-- Table of user's triggers -->
<table class="table table-striped">
	<thead>
		<tr align="center">Triggers for <%=@user.name%></tr>
		<tr>
			<th>Ticker</th>
			<th>Trigger Price</th>
		</tr>
	</thead>
	<tbody>
		 <% Trigger.all.each do |trigger| %>
		 <% if trigger.userEmail == @user.email1%>
		 	<tr>
		 		<td><%= trigger.ticker %></td>
                <td><%= trigger.trigger_price %></td>
                <td><%= link_to 'Show', trigger %></td>
                <td><%= link_to 'Edit', edit_trigger_path(trigger) %></td>
                <td><%= link_to 'Destroy', trigger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		 	</tr>
		 <%end%>
		 <%end%>
	</tbody>
</table>

<!-- Add new trigger -->
<%= link_to 'Add Trigger', new_trigger_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', homepage_path %>
