<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-3">
    <div class="well well-sm">
        <p>
        	<%= gravatar_for @user %>
          	<strong>Name:</strong>
          	<%= @user.name %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @user.email1 %>
        </p>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  	<%= render 'stocks' %>
  </div>

  <div class="col-md-6">
  	<%= render 'rss' %>
  </div>
</div>