<div class="container">
  <div class="row">
   <div class="col-md-12">
   <%= form_for(@trigger) do |f| %>
   <% if @trigger.errors.any? %>
     <div id="error_explanation">
        <h2><%= pluralize(@trigger.errors.count, "error") %> prohibited this trigger from being saved:</h2>

        <ul>
         <% @trigger.errors.full_messages.each do |message| %>
           <li><%= message %></li>
         <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
     <%= f.label :ticker %><br>
     <%= f.text_field :ticker %>
    </div>

    
        <div class="form-group">
        <label>Type of Trigger</label>
        <%= select_tag(:triggertype, 
              options_for_select(
              [['Dividend Yield', "dividend_yield"], 
              ['Dividend Per Share', "dividend_per_share"],
               ['PE Ratio', "pe_ratio"], 
               ['Price', "current_price"],
               ['Percent Change From 200 Day Moving Avg', "percentchange_from200day_avg"],
               ['Percent Change From 50 Day Moving Avg', "percentchange_from50day_avg"],
               ['Percent Change From 52 Week Low', "percentchange_from52week_low"],
               ['Percent Change From 52 Week high', "percentchange_from52week_high"],
               ['Volume', "volume"],
               ['Earnings Per Share', "eps"]
              ]), class: "form-control") %>
      </div>


        <div class="form-group">
        <label>Evaluate By</label>
        <%= select_tag(:comparison, 
              options_for_select(
              [['Greater Than', "g"], 
              ['Less Than', "l"],
               ['Equal To', "e"]
              ]), class: "form-control") %>
      </div>    
      
    <div class="field">
     <%= f.label :trigger_price %><br>
     <%= f.text_field :trigger_price %>
    </div>
    
    <div class="actions">
     <%= f.submit %>
    </div>
    <% end %>
    </div>
  </div>
</div>