<p id="notice"><%= notice %></p>

<p>
  <strong>Useremail:</strong>
  <%= @trigger.userEmail %>
</p>

<p>
  <strong>Ticker:</strong>
  <%= @trigger.ticker %>
</p>

<p>
  <strong>Trigger price:</strong>
  <%= @trigger.trigger_price %>
</p>

<%= link_to 'Edit', edit_trigger_path(curr_trigger: @trigger) %> |
<%= link_to 'Back', user_path(current_user) %>
